/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: flex;
    color: white;
}

#c {
    border: 1px solid #000;
    position: relative !important;
}

.border {
    border: 1px solid #000;
}

span a {
    color: lightblue;
}

.menu-title {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    margin: 10px;
}

.menu-info {
    width: 100%;
    margin-top: 50px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.par {
    font-size: 16px;
}

.spar {
    font-size: 14px;
}

.sspar {
    font-size: 12px;
}

.pad {
    padding: 8px !important;
}

.spad {
    padding: 6px !important;
}

.sspad {
    padding: 4px !important;
}

span input {
    height: 14px;
    width: 14px;
    padding: 0px;
    margin: 0px;
}

.export {
    width: 80%;
    height: 70px;
    max-height: 140px;
}

.button {
    width: 100px;
    height: 40px;
    margin: 5px;
}

.sbutton {
    width: 100px;
    height: 28px;
    margin: 5px;
}

.input {
    width: 160px;
    height: 20px;
    margin: 5px;
}

.menu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-width: 200px;
    background-color: dimgray;
}

.menu-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: dimgray;
    max-height: 500px;
}

.collapsible {
    background-color: #595959;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.active,
.collapsible:hover {
    background-color: #494949;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    width: 100%;
    max-width: 400px;
    height: 0;
    text-align: left;
    overflow: hidden;
    transition: height 0.2s ease-out;
    background-color: #313131;
}

.cflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bspan {
    display: block;
    padding: 8px;
}

.scroll {
    max-height: 200px;
    overflow-y: scroll;
}
